
.barsup{
    display: flex;
    justify-content: space-between;
    background-color: rgb(25, 6, 41);
    height: 70px;
    width: 100%;
    position: fixed;
   top:0;
    
}

a{
    text-decoration: none;
}
#left{
    display: flex;
    margin-left: 50px;
    
}

#logo{
    margin-top:20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
#name{
    margin-top: 20px;
    margin-left: 10px;
    font-weight: normal;
    font-size: large;

}
#javier{
    font-weight: bold;
}


#center ul {
    display: flex;
    
}

#center ul li{
    list-style: none;
    margin-left: 20px;
    font-size: small;
    margin-top: 20px;
}

#right{
    display: flex;
}
#search{
margin-top: 20px;
}

#search{
    border-color: white;
}



input.image_buscar {
	width: 20px;
	border: 0px;
	position: relative;
	top:1px;
    color:aliceblue
}
.searchbar:hover{
    background-color: rgb(25, 6, 41) ;
}
#right ul{
    display:flex;
    margin-right: 10px;
}
#right ul li{
    list-style: none;
    margin-left:0;
    margin-top:15px;
    margin-right: 10px;
}
video {
    position: absolute;
    left: 0;
    top: 0;
    height: 150%;
    z-index: -1;
  }

  h1, h2, p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 150px;
}

h1{
    margin-top: 200px;
    font-size: 70px;
}
    h2{
        font-weight: 3 ;
    }

    @media screen {
        
    }
    
.email{
    margin-top:40px;
    padding-left: 10px;
    border-left: 10px;
    margin-left: 150px;
    background-size: auto;
   background-color: rgba(128, 128, 128, 0.366);
   border: none;
   font-size: 30px;
   width: 300px;
   height: 50px;
   border-top: 25px;
}

.email:hover{
    background-color: rgba(0, 0, 0, 0.348);
    border-bottom-width: 10px;
    border-bottom-color: black;
}

#button{
    height: 50px;
    width: 150px;
    background-color: rgb(226, 13, 119);
    border-radius: 30px;
    text-align: center;
    margin-left: 20px;
    border-style: none;
    font-weight: bold;
    color: rgb(26, 26, 35)
} 

#button:hover{
    background-color: transparent;
    border-color: white;
    border-style: ridge;
    color:white;
    cursor: pointer;

}
.rosa{
   color:rgb(216, 21, 109) 
}
*{
    margin:0;
    color: white;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
}

footer{
    background-color:rgb(26, 26, 35);
    /*Con el codigo de abajo conseguimos un FOOTER FIJO abajo*/
   display: flex;
    position: fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
    color:rgb(228, 228, 228);
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
   
}


footer ul li{
    /*Quitar puntos lista*/
    list-style: none;
   background-color:  rgb(26, 26, 35);
   margin-top: 15px;
}
.main2{
display: flex;
justify-content: space-between;
}
.text{
    color:black;
    background-color: rgb(25, 6, 41);


}

.text h1{
    font-size: 40px;
}
.photo img{
    width: 700px;
    margin-right: 0;
}

ul li:hover{
    color: rgb(216, 21, 109);
}

.inf{
     background-color: white;
     
}

.marketing, .seo{
    display: flex;
    justify-content: space-evenly;
 
}
.marketing img, .seo img{
    width: 500px;
    height: 400px;
}
.seo img{
    margin-left: 130px;
}
#marketing{
    font-size: 30px;
    color: rgb(223, 44, 110);
}
#parrafo{
    color: black;
    font-weight: lighter;
}
.marketingimg{
    background-color: aliceblue;
}
#blog{
    margin-top:80px;
    color:rgb(228, 13, 103);
    font-size:30px;
    margin-left: 500px;
    
}
.cuadrado{
    display: flex;
    justify-content: center;
    border-style: ridge;
    
}
#imgblog{
    width: 120vh;
    height: 80vh;
    justify-content: center;}